<header class="main-header">

    <!-- Logo -->
    <a  class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>FundationSystem</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>FundationSystem</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a class="sidebar-toggle cursor-pointer" data-toggle="offcanvas" role="button">
            <span class="sr-only">Contraer/Colapsar</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                {{#if showHeaderActions}}
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <!-- Menu toggle button -->
                    <a  class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        {{#if hasMessages}}<span class="label label-success">{{messageCount}}</span>{{/if}}
                    </a>
                    <ul class="dropdown-menu">
                        {{#if hasMessages}}
                        <li class="header">Usted tiene {{messageCount}} mensajes</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <!-- start message -->
                                    <a>
                                        <div class="pull-left">
                                            <!-- User Image -->
                                            <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                        </div>
                                        <!-- Message title and timestamp -->
                                        <h4>
                                            Support Team
                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                        </h4>
                                        <!-- The message -->
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li><!-- end message -->
                            </ul><!-- /.menu -->
                        </li>
                        {{else}}
                        <li class="header">Usted no tiene mensajes</li>
                        {{/if}}
                        <li class="footer"><a >Ver todos los mensajes</a></li>
                    </ul>
                </li><!-- /.messages-menu -->
                <!-- Notifications Menu -->
                <li class="dropdown notifications-menu">
                    <!-- Menu toggle button -->
                    <a  class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">10</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 10 notifications</li>
                        <li>
                            <!-- Inner Menu: contains the notifications -->
                            <ul class="menu">
                                <li>
                                    <!-- start notification -->
                                    <a >
                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                    </a>
                                </li><!-- end notification -->
                            </ul>
                        </li>
                        <li class="footer"><a >View all</a></li>
                    </ul>
                </li>
                <!-- Tasks Menu -->
                <li class="dropdown tasks-menu">
                    <!-- Menu Toggle Button -->
                    <a  class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger">9</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 9 tasks</li>
                        <li>
                            <!-- Inner menu: contains the tasks -->
                            <ul class="menu">
                                <li>
                                    <!-- Task item -->
                                    <a >
                                        <!-- Task title and progress text -->
                                        <h3>
                                            Design some buttons
                                            <small class="pull-right">20%</small>
                                        </h3>
                                        <!-- The progress bar -->
                                        <div class="progress xs">
                                            <!-- Change the css width attribute to simulate progress -->
                                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">20% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li><!-- end task item -->
                            </ul>
                        </li>
                        <li class="footer">
                            <a >View all tasks</a>
                        </li>
                    </ul>
                </li>
                {{/if}}
                <!-- User Account Menu -->
                <li {{bind-attr class=":dropdown :user :user-menu :cursor-pointer activePage.myinfo:active"}}>
                    <!-- Menu Toggle Button -->
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <img {{bind-attr src="session.picture"}} class="user-image" alt="User Image">
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs">{{#if session.name}}{{session.name}}{{else}}{{session.username}}{{/if}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <img src="/Scripts/Images/User.svg" class="img-circle" alt="User Image">
                            <p>
                                {{#if session.name}}{{session.name}}{{else}}{{session.username}}{{/if}}
                                <small>{{session.roles}}</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                {{#link-to 'myinfo' class="btn btn-default btn-flat"}}Perfil{{/link-to}}
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-default btn-flat" {{action 'logout'}}><i class="glyphicon glyphicon-off"></i>&nbsp;Cerrar Sesión</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                {{#if showHeaderActions}}
                <li>
                    <a  data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
                {{/if}}
            </ul>
        </div>
    </nav>
</header>
<script src="/Scripts/vendor/adminLTE/app.js"></script>